.container
  .section
    .row
      .col.s12
        .opening-text.center-align.brown-text
          h3 Lorem ipsum dolor sit amet, consectetur adipisicing elit
          p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore ad, at, excepturi cum sed quae dolor molestias dolore modi error fuga quam. Ullam, laboriosam optio. Quidem omnis officia, beatae nobis.
      .col.s12.m4
        .icon-block
          h2.center.brown-text
            i.material-icons flash_on
          h5.center Speeds up development
          p.light.center-align We did most of the heavy lifting for you to provide a default stylings that incorporate our custom components. Additionally, we refined animations and transitions to provide a smoother experience for developers.
      .col.s12.m4
        .icon-block
          h2.center.brown-text
            i.material-icons group
          h5.center User Experience Focused
          p.light.center-align By utilizing elements and principles of Material Design, we were able to create a framework that incorporates components and animations that provide more feedback to users.
      .col.s12.m4
        .icon-block
          h2.center.brown-text
            i.material-icons settings
          h5.center Easy to work with
          p.light.center-align We have provided detailed documentation as well as specific code examples to help new users get started. We are also always open to feedback and can answer any questions a user may have about Materialize.
