footer.page-footer
  .container
    .row
      .col.l6.s12
        h5.white-text Company Bio
        p.grey-text.text-lighten-4 We are a team of college students working on this project like it's our full time job. Any amount would help support and continue development on this project and is greatly appreciated.

      .col.l3.s12
        h5.white-text Settings
        ul
        -var links = ['signup', 'login']
          each item in links
            li
              a.white-text(href="#!")= item
      .col.l3.s12
        h5.white-text Settings
        ul
        -var links = ['signup', 'login']
          each item in links
            li
              a.white-text(href="#!")= item
  .footer-copyright
    .container
      p Made by 
        a.brown-text.text-lighten-3(href="http://materializecss.com") Emigro's Amigos Team