.navbar-fixed
    nav.z-depth-3(role="navigation")
        .nav-wrapper.container
            a(id="logo-container" href="#" class="brand-logo")
                img.logo(src="img/emigro.svg")
            ul.right.hide-on-med-and-down.more-right
                li
                    a(href="#") Sign Up
                li
                    a(href="#") Login      
            ul#nav-mobile.side-nav
                li
                    a(href="#") Sign Up
                li
                    a(href="#") Login  
            a(href="#" data-activates="nav-mobile" class="button-collapse")
                i(class="material-icons" ) menu
  
