.parallax-container.valign-wrapper
  .section.no-pad-bot
    .container
      .row.center
        h5.header.col.s12.light.center-align A modern responsive front-end framework based on Material Design

  .parallax
    img(src="img/airplane-wing.jpg" alt="Unsplashed background img 2")