.container
  .section
    .row
      .col.s12.center
        .opening-text.center-align.brown-text
          h3 Lorem ipsum dolor sit amet, consectetur adipisicing elit
          p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore ad, at, excepturi cum sed quae dolor molestias dolore modi error fuga quam. Ullam, laboriosam optio. Quidem omnis officia, beatae nobis.