.container
  .section
    .row
      .col.s12.m3
        .icon-block
          h2.center.brown-text
            i.material-icons flash_on
          h5.center Speeds up development
          p.light By utilizing elements and principles of Material Design, we were able to create a framework that incorporates components.
      .col.s12.m3
        .icon-block
          h2.center.brown-text
            i.material-icons group
          h5.center User Experience Focused
          p.light By utilizing elements and principles of Material Design, we were able to create a framework that incorporates components.
      .col.s12.m3
        .icon-block
          h2.center.brown-text
            i.material-icons settings
          h5.center Easy to work with
          p.light By utilizing elements and principles of Material Design, we were able to create a framework that incorporates components.
      .col.s12.m3
        .icon-block
          h2.center.brown-text
            i.material-icons settings
          h5.center Easy to work with
          p.light By utilizing elements and principles of Material Design, we were able to create a framework that incorporates components.
