#index-banner.parallax-container
  .section.no-pad-bot
    .container.heading-text
      <br><br>
      h1.header.center Immigration just go Easy
      .row.center
        h5.header.col.s12.light Get your immigration quick and hassle free
        
      .row.center
        a(href="http://materializecss.com/getting-started.html" id="download-button" class="btn-large waves-effect waves-light") Get Started
        <br><br>
  .parallax
    img(src="img/dude-walks.jpg" alt="Unsplashed background img 1")