.parallax-container.valign-wrapper
  .section.no-pad-bot
    .container
      .row.center
        h5.header.col.s12.light A modern responsive front-end framework based on Material Design

  .parallax
    img(src="img/free-walk.jpg" alt="Unsplashed background img 2")