extends ./layout.jade

block content
	include ./includes/nav
	include ./includes/image
	include ./includes/splash-p-lax
	include ./includes/first-copy
	include ./includes/second-p-lax
	include ./includes/second-copy
	include ./includes/third-p-lax
	include ./includes/social-proof
	include ./includes/founder
	include ./includes/footer
	include ./includes/scripts-bottom

