/* Navigation */

nav {
	background-color: darken($red, 15%);
	opacity: 0.8;
}

.more-right {
	margin-right: -100px;
}

/* Logo in Nav */
.logo {
	height: 50px;
	margin-top: 7px;
	margin-left: -100px;
}