/* Typography */
h1, h5 {
	color: white
}

.icon-block h5 {
	color: black;
}

.heading-text {
	margin-top: 100px;
}

nav li a {
	color: white;
}

.material-icons {
	font-size: 1em;
}

p {
	font-size: 1.2em;
}

.opening-text {
	padding: 100px;
}